.gap30 {padding: 30px 0px;}
.gap40 {padding: 40px 0px;}
.gap50 {padding: 50px 0px;}
.gapt30 { margin-top:30px;}
.gapt40 { margin-top:40px;}
.gapt50 { margin-top:50px;}
.gapb20 { margin-bottom:20px;}
.gapb30 { margin-bottom:30px;}
.gapb40 { margin-bottom:40px;}
.gapb50 { margin-bottom:50px;}

body { overflow-x: hidden; font-family: "Open Sans", sans-serif;}
/*-----------------Login and register page------------------------*/
.logbg {background: rgb(169,240,127); background: linear-gradient(90deg, rgba(169,240,127,1) 0%, rgba(92,191,226,1) 41%, rgba(170,57,218,1) 100%);}
.logbg .overlay {position: absolute; background-image: url(../images/trbg.png); top: 0; left: 0; right: 0; bottom: 0; content: ''; opacity: .99;  } 
.logbg .invalid-feedback {display:none;}
.logbg .form-control {border-radius:0px; font-size:14px; font-weight: 300; border: 0px solid; border-bottom:1px solid #262262 ; }
.logbg .form-control:focus { color: #495057;  background-color: #fff; border-color: #80bdff;  outline: 0;
  box-shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.25);}
.loginbox {margin:100px 0px; padding:20px 30px 30px 30px; border-radius:20px; background-color:#fff ;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),  0 0  0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);}
.regibox { margin:50px 0px; padding:20px 30px 30px 30px; border-radius:20px; background-color:#fff ;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),  0 0  0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);} 
  
.loginbox h3, .regibox h3{text-align: center; font-weight:400; color: #262262; font-size: 1.6rem;} 
.loginbox h3 span, .regibox h3 span {color:#39b24a;}
.btn-login {color: #fff; border:none;  width:280px;  height: 46px; border-radius: 2rem; line-height:2.5; text-align: center;
    padding-left: 3rem;  padding-right: 3rem;
  background: rgb(169,240,127);
  background: linear-gradient(90deg, rgba(169,240,127,1) 0%, rgba(92,191,226,1) 41%, rgba(170,57,218,1) 100%);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6); 
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6); 
       box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6); 
 }
.btn-login:hover { color: #fff; background-color: #39b24a; border-color: #39b24a;}
.btn-login:focus, .btn-login.focus {box-shadow: 0 0 0 0.2rem rgba(38, 34,98, 0.5);}
.llogo {width:250px;}

/*-----------------Login and register page End------------------------*/

.logo { width:220px;}
.navbar .navbar-brand {
  width: 200px !important;
}
.navbar-brand.brand-logo-mini img {max-width:100% !important;}
.content-wrapper {
  background:#ddd;
  padding: 2.75rem 1.5rem 0;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.roundbox{padding:10px; border-radius:9px; background-color:#fff ;
  box-shadow: inset 0 -1em 1em rgba(0,0,0,0.1),  0 0  0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);}
/*----------------- Chatting box---------------------------------*/
 .chatbox {font-family: 'Lato', sans-serif;}   
 .chatbox ::-webkit-scrollbar { width: 5px; }  
 .chatbox ::-webkit-scrollbar-track { width: 5px; background: #f5f5f5; }  
 .chatbox ::-webkit-scrollbar-thumb { width: 1em; background-color: #ddd; outline: 1px solid slategrey; border-radius: 1rem;  }
 .chatbox .text-small {font-size: 0.9rem; }  
 .chatbox .messages-box,  .chat-box {height:460px; overflow-y: scroll; }  
 .chatbox .rounded-lg {border-radius: 0.5rem; }  
 .chatbox input::placeholder {font-size: 0.9rem;color: #999;  }
 .chatbox .bg-dark-blue {background-color:#262262; color: #fff;}
 .chatbox .bg-dark-green {background-color:#39b24a; color: #fff;}
 .chatbox .list-group-item.active {color: #fff; background-color:  #39b24a; border-color:#39b24a;}
 .chatbox .bg-primary {background-color: #262262 !important;}

 .chatbox .form-control {border-radius:0px;}
 .chatbox .btn {border-radius:0px;}

.chatbox .media span.busy {background: #e74c3c;}
.chatbox .media span.online { background:  #2ecc71;}
.chatbox .media span.away { background:  #f1c40f;}
.chatbox .media span {position: absolute;  left:25px;  margin: -2px 0 0 -2px;  width: 10px;  height: 10px;
  border-radius: 50%;  border:1px solid  #fff; background: #95a5a6;}
.send {width:60px; padding: 0px;}
.send i {font-size:1.2rem;}
  .chatbox .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.1em;
    color: 
    #435f7a;
    opacity: .5;
    cursor: pointer;
}

.chatbox .content { position: relative;}
.chatbox .content .contact-profile {width: 100%; height: 65px; line-height: 65px; background: #f5f5f5;}
.chatbox .content .contact-profile img { width: 40px; border-radius: 50%; float: left; margin:12px 12px 0 9px;}
.chatbox .content .contact-profile p {float: left; vertical-align: middle; padding-top:1.2rem;}

/*------------ resources Tab Navigation custom css ----------------*/
.custab { font-family: "Open Sans", sans-serif; }
.custab nav{background-color: #262262;}
.custab .nav-tabs {border-bottom: 1px solid; border-color: rgba(35, 31, 32, 0.3)}
.custab .nav-tabs .nav-link.active {
  color:#fff;font-weight:400; background: none; 
  border-color:#fbb017; border-width:3px;
  border-top: 0px;  border-left: 0px;  border-right: 0px;
}
.custab .nav-tabs .nav-link:hover {
  border-color:#fbb017; border-width:3px;
  border-top: 0px;  border-left: 0px;  border-right: 0px;
}
.custab .nav-tabs .nav-link {
  border-bottom: 0px solid transparent;
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  color:#fff;
}
.custab .nav-link {display: block;  margin:2px 11px; background-color: #262262; font-size:14px;}

.searchinput{ height: 2rem;  padding: 0.5rem 1rem;}
.btn-sm {padding: 0.3rem 0.81rem;}
.tab-content {padding: 7px 0px;}

/* --------------------------------------- Responsive Design ------------------------------------------- */
@media only screen and (min-width:1291px) and (max-width:1342px) { }
@media only screen and (min-width:1231px) and (max-width:1290px) { }
@media only screen and (min-width:1200px) and (max-width:1230px) { }
@media only screen and (min-width:1100px) and (max-width:1199px) { }
@media only screen and (min-width:1024px) and (max-width:1100px) { }
@media only screen and (min-width:992px) and (max-width:1023px) { }
@media only screen and (min-width: 768px) and (max-width: 991px) { }
  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 481px) and (max-width:579px) {}
@media only screen and (min-width:220px) and (max-width:767px) { }
@media screen and (min-width:560px) and (max-width:767px) { } 
@media screen and (min-width:220px) and (max-width:560px) { }


@media (min-width: 991.98px) { 
.sidebar {position: relative; z-index: 0;}
.sidebar .overlay {position: absolute; background-image: url(../images/trbg.png); z-index:-1;
    top: 0; left: 0; right: 0; bottom: 0; content: ''; opacity: .99;  }
 }

